*{
padding: 00px;
margin: 00px;

}

body{
	background: #333;
	font-family: corbel;
	color: white;
	

}




}

table{
	padding: 00px;
	margin: 00px;
}

tr{
	padding: 00px;
	margin: 00px;
}
td{
	padding: 00px;
	margin: 00px;
}